<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Population Density & Emissions</title>
  <!--<link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>-->

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel=“stylesheet” href=“https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css”
    integrity=“sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2” crossorigin=“anonymous”>
  <style>
    h1 {
      text-align: center;
    }

    h2 {
      text-align: left;
    }

    h3 {
      text-align: left;
    }
  </style>
</head>

<body>
  <!-- Create navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">A Study of Population Density vs. Transportation Emissions</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/emission">Data</a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End of navigation bar -->

  <!-- Beginning of Home Page Content -->
  <!-- 1st Visualization Box -->
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-8">
        <h1 class="box-header">Population Density vs. City Emissions</h1>
        <br>
        <p style="margin-bottom: 2.5em;">The purpose of this project is to analyze if a city's transportation emissions
          is correlated or affected by a city's population density. To accomplish this analysis, we first pulled data
          from the
          _____ and ______ to assemble a dataset of the top US cities (by population density).</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-8">
        <!-- APPEND MAP VIZ HERE -->
        <div id="mapid" class="img-fluid"></div>
        <br>
        <span class="text-muted">
          <i>The map shows top 98 US cities, the size of markers represents CO2 emissions per capita for each city for 2017, the color represents decrease or increase in those emissions comparing 2017 to 2010.
          </i>
        </span>
        <hr>
      </div>
    </div>
  </div>
  <!-- <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="https://parkplusinc.com/wp-content/uploads/2018/12/AIA-CEU.jpg" class="img-fluid" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="https://leanleadershipcenter.com/wp-content/uploads/2018/10/Depositphotos_48786423_m-2015.jpg"class="img-fluid" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.ytimg.com/vi/t54iKae1SiY/maxresdefault.jpg" class="img-fluid" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div> -->
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-8">
        <h2 class="box-header">Does the population density of a city affect transportation emissions?</h2>
        <br>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.</p>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-md-8">
            <div class="well">
              <h4>How are a city's population and overall transportation emissions changing overtime?</h4>
              <span class="text-muted">
                <p>Select a city to view how population and emissions change over time.
                </p>
              </span>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <!-- <h3 class="panel-title">Emission Info</h3> -->
              </div>
              <div id="sample-metadata" class="panel-body"></div>
            </div>
            <div class="col-md-12 col-md-8">
              <div id="visualization1" class="img-fluid">
                <!-- APPEND LINE CHART HERE -->
              </div>
            </div>
            <span class="text-muted">
              <i>This graph compares population and transportation carbon emissions over time (2010 – 2017). The graph has a functionality to select 98 US cities to observe the comparison.
              </i>
            </span>
            <hr>
            <br>
          </div>


          <br>
          <br>
          <div class="row">
            <div class="col-md-12 col-md-8">
              <h4>Do larger cities have higher or lower transportation emissions?</h4>
              <p>From the scatter plot we see a direct correlation between population and emission. Cities with similar population has similar emission levels. The comparison of 2 cities - Houston which has worse emissions levels in a state with least emission control vs. Los Angeles which has lower emission with a state with strict emission controls.</p>
              <span class="text-muted">
                <p>Select a year to view how a city's population may affect their transportation emmisions.
                </p>
              </span>
              <div id="visualization2">
                <!-- APPEND SCATTER PLOT HERE -->
                <select id="Dataset" onchange="scatterChange(this.value)"></select>
                <div id="scatter" class="img-fluid class"></div>
                </select>
                <span class="text-muted">
                  <i>This chart represents the overall Population vs overall Emission for the year 2010-2017 grouped by Cities with higher Population.
                  </i>
                </span>
                <hr>
              </div>
            </div>
          </div>
        </div>


        <br>
        <div class="row" class="col-md-12 col-md-8">
          <h4>Population density's impact on a city's transportation emissions</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
          <span class="text-muted">
            <p>Click the play button to view how city's population density and emissions change during 2010 to 2017.
            </p>
          </span>
        </div>
        <div class="row">
          <div class="col-md-8" class="bubble">
            <div id="visualization3">
              <!-- APPEND BUBBLE CHART HERE -->
              <div class="chart" id="bargraph" class="img-fluid" class="center">
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
                <script>
                  var graphs = {{ plot | safe}};
                  Plotly.plot('bargraph', graphs, {});
                </script>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-2">
            <span class="text-muted">
            <i>This bubble chart visualization shows the population density of each city (person per sq mile) for years 2010-2017 vs. the amount of emissions (in kg) per person per square mile of each city.
            </i>
            <br>
            <br>
            <i>To clear the graph and view a selected city, double check one city in the legend on the right side.
            </i>
          </div>
        </div>
      <br>
      <hr>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h6 class="box-header">Data Sources</h6>
            <ul>
              <li>Population data from ____</li>
              <li>Transportation emissions from the US Census</li>
              <li>Land size (to create population density)</li>
            </ul>
            <br>
          </div>
          <div class="col-md-8">
            <h6 class="box-header">UO Data Analytics Project #3</h6>
            <p>A Study of City's Population Density vs. Emissions by Anna Rischitelli, Priya Arunachalam, Nataliia
              Sokolova, Vincent Durcan, and Shadia Duery. Study conducted for Project #3 of our University of Oregon
              Data Analytics class. February 2021.
            </p>
            <br>
          </div>
        </div>

        <!-- FOOTER
            <footer class="footer">
              <span class="text-muted">
                <p style="margin-bottom: 1.5em; margin-left: 1.5em; margin-top: 1.5em;">A Study of City's Population Density
                  vs.
                  Emissions by Anna Rischitelli, Priya Arunachalam, Nataliia Sokolova, Vincent Durcan, and Shadia Duery.
                </p>
              </span>
            </footer> -->


        <!-- Boiler plate requirements-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin=""></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="../static/config.js"></script>
        <script src="{{ url_for('static', filename='map.js') }}"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='bar.js') }}"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='d3.js') }}"></script>


</body>

</html>