<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Population Density & Emissions</title>
  <!--<link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>-->

  <!-- Bring in our bootstrap stylesheet -->
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <style>
    h1 {
      text-align: center;
    }

    h2 {
      text-align: left;
    }

    h3 {
      text-align: left;
    }
  </style>
</head>

<body>
  <!-- Create navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">A Study of Population Density vs. Transportation Emissions</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/emission">Data</a>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End of navigation bar -->

  <!-- Beginning of Home Page Content -->
  <!-- 1st Visualization Box -->
  <br>
  <div > 
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-8">
        <h1 class="box-header">Population Density vs. City Emissions</h1>
        <br>
        <p>Greenhouse gas (GHG) emissions from transportation account for about
           28 percent of total U.S. greenhouse gas emissions, making it the largest
            contributor of U.S. GHG emissions. Between 1990 and 2018, GHG emissions 
            in the transportation sector increased more in absolute terms than any other sector. Source(EPA.gov)
          </p>
        <p style="margin-bottom: 2.5em;">
        </p>
      </div>
    </div>

  <div class="container">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="https://www.infometrics.co.nz/wp-content/uploads/2019/08/Large-crowds-825x510.jpg" class="250px150px" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="https://cw-gbl-gws-prod.azureedge.net/-/media/cw/americas/united-states/insights/marketbeats-images/market-cards/san-francisco-card.jpeg?rev=286a1f8f11904feb92def66a7b816bb9"class="img-fluid" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="https://assets.change.org/photos/8/zn/iz/bZznIZlZlOwQJMZ-800x450-noPad.jpg?1495403015" class="img-fluid" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-8">
        <h2 class="box-header">Does the population density of a city affect it's transportation CO2 emissions?</h2>
        <br>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-md-8">
            <p>The city of Springfield is a fast-growing middle-sized city in the US.
              Currently is at a turning point; this year has reached a population size of 300k and is experiencing
              a high rate of migration. The Urban Planning and Sustainable Development Office (UPSDO) is in charge
              of crafting a 10-year plan to guide the city's growth path between increased density or urban sprawl.
              Springfield is a city that cares about air pollution and its contribution to global carbon emissions
              and bases its decisions informed by data analysis. The city has requested its data analytics team to
              determine
              if increasing population density increases or reduces transportation carbon emissions.
              <br>
              <br>
            <h5>Assumptions:</h5>
            <li>The variables population density and transportation CO2 emissions are highly correlated.</li>
            <li>Higher-density cities will produce lower transportation emissions per
              capita assuming that urban design on those cities encourages alternative transportation
              methods such as walking, biking, public transit, and higher adoption the energy efficiency technologies
              (electric-powered transportation, and mass transit).</li>
            </p>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-md-8">
            <!-- APPEND MAP VIZ HERE -->
            <div id="mapid" class="img-fluid"></div>
            <br>
            <span class="text-muted">
              <i>This map was created to give a first glance at the data for the top 98 (AK and HI were not included study) 
                US cities. The data contains population size and CO2 transportation emissions over a period of eight years 
                (2010-2017). The size of the city markers represents CO2 transportation emissions per capita in 2017, and the color
                 of markers was derived from the difference between 2017 and 2010 in CO2 emissions per capita. 
                 The color scale goes from green to red, green representing a decrease in normalized emissions and red an increase.
              </i>
            </span>
            <hr>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 col-md-8">
            <div class="well">
              <h4>How are a city's population and overall transportation emissions changing overtime?</h4>
              <p>Five trends were observed when sampling over cities. First, the majority of cities’
                population is growing. Second, in most cases, the population is growing at a similar
                rate to transportation CO2 emissions. Third, a handful of cities have managed to maintain
                a steady population growth while reducing their transportation CO2 emissions, examples are
                San Francisco, San Jose, Oakland, and Philadelphia. Fourth, another handful of cities have reduced
                their population and increased transportation CO2 emissions, examples are Detroit, Toledo,
                Memphis, Chicago. And last, there are cities that have reduced their population and transportation
                CO2 emissions, being Baton Rouge an example. </p>
              <span class="text-muted">
                <i>Select a city to view how population and emissions change over time.
                </i>
              </span>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <!-- <h3 class="panel-title">Emission Info</h3> -->
              </div>
              <div id="sample-metadata" class="panel-body"></div>
            </div>
            <div class="col-md-12 col-md-8">
              <div id="visualization1" class="img-fluid">
                <!-- APPEND LINE CHART HERE -->
              </div>
            </div>
            <span class="text-muted">
              <i>This graph compares population growth and transportation carbon emissions over time (2010 – 2017). It
                has a dropdown menu to select a city of a list of 98 US cities to observe this comparison.
              </i>
            </span>
            <hr>
            <br>
          </div>



          <br>
          <br>
          <div class="row">
            <div class="col-md-12 col-md-8">
              <h4>Do larger cities have higher or lower transportation emissions?</h4>
              <p>The scatter plot shows that cities with similar populations have similar
                transportation CO2 emission levels. And when comparing two outlier cities with
                similar population sizes, Houston and Los Angeles, we observed that Houston has
                higher emissions than Los Angeles. Maybe the differences can be attributed to
                emission regulations, being CA more stringent than TX. And when comparing Houston
                to NYC, a city with a higher population, we observed that Houston had higher emissions
                even with a smaller population. </p>
              <span class="text-muted">
                <i>Select a year to view how a city's population may affect their transportation emmisions.
                </i>
              </span>
              <br>
              <div id="visualization2">
                <!-- APPEND SCATTER PLOT HERE -->
                <select id="Dataset" onchange="scatterChange(this.value)"></select>
                <div id="scatter" class="img-fluid class"></div>
                </select>
                <span class="text-muted">
                  <i>This scatter plot represents the relationship between population size and transportation CO2
                    emissions in 98 US cities.
                    It has a dropdown menu to select a year of choice to display the data (2010-2017).
                  </i>
                </span>
                <hr>
              </div>
            </div>
          </div>


        <br>
        <div class="row" class="col-md-12 col-md-8">

          <h4>Does the population density of a city have an  impact on it's transportation emissions?</h4>
          <p>This bubble graph displays how each city is handling its transportation emissions output about its 
            population growth. As we can see, cities with larger population numbers aren't necessarily the most 
            significant offenders to emission output. Density seems to have a much larger play in this scenario. 
            Most instances show that smaller population sized cities' results contain much more carbon emissions 
            per person than cities almost ten times their population size. This graph shows that condensing population 
            and a consolidated urban structure could be the most intelligent way for city planners to look to the future 

            regarding transportation implementation for a greener life and fewer emissions output for all. </p>
          <span class="text-muted">
            <i>Click the play button to view how city's population density and emissions change during 2010 to 2017.
            </i>
          </span>
          <br>
          <br>
        </div>

        <!-- <div class="row"> -->
        <div class="col-md-12 col-md-8" class="bubble">
          <div id="visualization3">
            <!-- APPEND BUBBLE CHART HERE -->
            <div class="chart" id="bargraph" class="img-fluid" class="center">
              <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
              <script>
                var graphs = {{ plot | safe}};
                Plotly.plot('bargraph', graphs, {});
              </script>
            </div>
          </div>
          <br>
        </div>
        <div class="container">
          <div class="row" class="col-md-12 col-md-8">
            <span class="text-muted">
              <i>This bubble chart visualization shows the population density of each city (person per sq mile) for years
                2010-2017 vs. the amount of emissions (in kg) per person per square mile of each city.
              </i>
              <br>
              <br>
              <i>To clear the graph and view a selected city, double check one city in the legend on the right side.
              </i>
            </span>
            <hr>
            <br>
            <br>
          </div>
        </div>
        <div class="container">
          <div class="row" class="col-md-12 col-md-8">
            <h4>Does the population density of a city have an  impact on it's transportation emissions?</h4>
              <ul>
                <li>We were able to reject our null hypothesis, population density on a city has an impact 
              on its transportation carbon emissions.</li>
                <li>Some cities have managed to reduce their transportation CO2 emissions and continue it's population growth.</li>
                <li>Due to more stringent state CO2 emissions and stronger urban growth boundaries, pushing for density.</li>
              </ul>
          </div>
          <br>
          <br>
        </div>
        <div class="container">
          <div class="row" class="col-md-12 col-md-8">
            <h2>Recommendations for Springfield</h2>
          </div>
          <div class="row" class="col-md-12 col-md-8">
            <ul>
              <li>Strong urban growth boundaries</li>
              <li>Urban design for higher density</li>
            </ul>
          </div>
          <br>
          <br>
          <hr>
        </div>
        <br>
        <br>
        <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h6 class="box-header">Data Sources</h6>
              <ul>
                <li>Population data from the US Census</li>
                <li>Transportation emissions Distributed Archive Center for Biogeochemical Dynamics</li>
                <li> US land size city areas from Wikipedia</li>
              </ul>
            <br>
          </div>
          <div class="col-md-8">
            <h6 class="box-header">UO Data Analytics Project #3</h6>
            <p>A Study of City's Population Density vs. Emissions by Anna Rischitelli, Priya Arunachalam, Nataliia
              Sokolova, Vincent Durcan, and Shadia Duery. </p>
            <p>Study conducted for Project #3 of our University of Oregon
              Data Analytics class, February 2021.</p>
            <br>
          </div>
        </div>
      </div>

    </div>
        <!-- Boiler plate requirements-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin=""></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="../static/config.js"></script>
        <script src="{{ url_for('static', filename='map.js') }}"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='bar.js') }}"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="{{ url_for('static', filename='d3.js') }}"></script>


</body>

</html>